*~
*.class
*.jar
*.nxd
*.nxj
*.o
*.pyc
\#*\#
.\#*\#
/Nodejs/build/*
/Nodejs/funstuff.so.0.0.1
/Nodejs/.lock-wscript
/Misc/hailstone
/Nodejs/main
/Nodejs/build/.wafpickle-7
Kotlin/META-INF/main.kotlin_module
Typescript/fraction.js
ophis.bin
